doctype html
html(lang="en")
    head
        style 
            include ./stylesheets/style.css
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Message Board
    body 
        h1=process.env.DB
        h1= title
        a(href="/new") 
            button New 
        each message in messages
            .postWrapper 
                .user=message.author
                .content=message.message 
                .date=message.date
            
